@page
@model DoAnQuanLyCuaHang.Pages.IntroduceModel
@{
}
<!-- Navbar End -->
<!-- Header Start -->
<div class="container-fluid bg-primary d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
    <div class="container">

        <div class="col-lg-7 text-center text-lg-left">
            <h3 class="text-white font-weight-normal mb-3">I'm</h3>
            <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">Nguyễn Minh Dũng</h1>
            <h3 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">MSSV:21880024</h3>
            <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
            <div class="typed-text d-none">Đồ án môn lập trình hướng đối tượng</div>

        </div>

    </div>
</div>

